.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 40px auto;
  background-color: #ffffff;
  position: fixed;
  z-index: 10;
}
.header-left {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 18px;
  align-items: center;
  margin: 0px 20px;
}
.header-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.header-right {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 18px;
  background-color: #07a0ff;
  border-radius: 25px 0 0 25px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}
.header-button {
  background-color: #84cffd;
  padding: 4px 15px;
  font-size: 15px;
}
.menu-icon {
  display: none;
  cursor: pointer;
  margin-left: 20px;
  transition: transform 0.3s ease;
}
.menu-icon:hover {
  transform: scale(1.1);
}
.mobile-menu {
  display: none;
}
.header-login {
  display: none;
}
@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 950px) {
  .header-left,
  .header-right {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .header-left {
    display: none;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 20px;
    width: 250px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    border-radius: 10px;
    animation: slideDown 0.5s ease forwards;
    opacity: 0;
    transform: translateY(-10px);
    text-align: center;
  }
  .menu-icon {
    display: block;
  }

  .header-right {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .header-right {
    width: fit-content;
    padding: 10px;
    cursor: pointer;
  }
  .header-login {
    display: block;
  }
  .header-right > div:not(:first-child) {
    display: none;
  }
  .header-right > div {
    opacity: 0;
    transition: opacity 1.8s ease;
  }

  .header-right:hover {
    padding: 10px 20px;
  }

  .header-right:hover > div {
    display: block;
    opacity: 1;
  }

  .header-right:hover {
    background-color: #07a0ff;
  }
}
@media (max-width: 600px) {
  .header-right {
    font-size: 12px;
  }
}
@media (max-width: 470px) {
  .header-button {
    padding: 2px 10px;
    font-size: 12px;
  }
}
@media (max-width: 430px) {
  .header-right {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
